.workbench {
  height: calc(100vh - 56px);
  overflow-y: auto;

  --td-navbar-bg-color: transparent;
  .nav-bg {
    width: 750rpx;
    height: 200rpx;
    position: fixed;
    top: 0;
  }

  &-info,
  &-service,
  &-setting {
    background-color: #fff;
  }

  &-info {
    border-radius: 24rpx;
    margin: 8rpx 32rpx 0rpx 32rpx;
    padding-bottom: 32rpx;
    overflow: hidden;

    .cell-class-title {
      font-weight: 600 !important;
    }

    .cell-class-center {
      display: flex;
      align-items: center !important;
    }

    // 头像margin-right
    --td-spacer-1: 32rpx;

    &__person {
      .name {
        line-height: 48rpx;
        font-size: 32rpx;
        color: #000000e6;
        font-weight: 600;
      }

      .tags {
        display: flex;
        margin-top: 16rpx;

        --td-text-color-primary: #000000e6;
        --td-tag-medium-font-size: 20rpx;
        --td-tag-medium-icon-size: 24rpx;
      }

      .tag:not(:last-child) {
        margin-right: 16rpx;
      }
    }
  }

  &-service {
    border-radius: 24rpx;
    margin: 32rpx;
    padding-bottom: 8rpx;
    overflow: hidden;

    &--tips {
      height: 44rpx;
      line-height: 44rpx;
      padding-left: 40rpx;
      margin-top: 32rpx;
      color: #000000e6;
      font-size: 28rpx;
      font-weight: 600;
    }
  }
}
.workbench-service__list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .workbench-service__list-item {
    width: 43%;
    text-align: left;
    height: 140rpx;
    border-radius: 8px;
    background-color: #f1f1f1;
    margin-bottom: 30rpx;
    padding: 20rpx 30rpx;
    box-sizing: border-box;
    >view:nth-child(1) {
      margin-bottom: 10rpx;
      color: #409EFF;
    }
  }
  >view:nth-child(odd) {
    margin-right: 4%;
  }
}